@tailwind base;
@tailwind components;
@tailwind utilities;
 

:root {
  --clr-primary: #6eeb83;
  --clr-accent: #272727;
}

body {
  background-color: var(--clr-accent);
}

.vertical-text {
    writing-mode: vertical-rl;    
}